* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.4;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background: #f3f3f3;
}

.App {
  width: 70%;
  margin: auto;
}

a {
  color: #333;
  text-decoration: none;
}

.container {
  padding: 0 1rem;
}

.btn {
  display: inline-block;
  border: none;
  background: #555;
  color: #fff;
  padding: 7px 20px;
  cursor: pointer;
}

.btn:hover {
  background: #666;
}

.todoItem {
  /* background: #f4f4f4; */

  list-style-type: none;
  height: 70px;
  padding-top: 18px;
  padding-bottom: auto;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 22px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btnEdit {
  background: royalblue;
}

.btnEdit:hover {
  color: royalblue;
  border: 1px solid royalblue;
  background: transparent;
}

.btnDelete {
  background: #dc413c;
}

.btnDelete:hover {
  background: transparent;
  color: #dc413c;
  border: 1px solid #dc413c;
}

.editSubmit,
.editCancel,
.btnDelete,
.btnEdit {
  color: #fff;
  border: none;
  padding: 5px 9px;
  cursor: pointer;
  float: right;
  margin-left: 5px;
  width: 75px;
  height: 40px;
  border-radius: 5px;
  font-size: 15px;
}

.editSubmit {
  background: royalblue;
}

.editSubmit:hover {
  background-color: transparent;
  color: royalblue;
  border: 1px solid royalblue;
}

.editCancel {
  background: #dc413c;
}

.editCancel:hover {
  background: transparent;
  color: #dc413c;
  border: 1px solid #dc413c;
}

.editForm {
  align-items: center;
  display: flex;
  width: 100%;
}

.editForm input {
  font-size: 18px;
  height: 40px;
  outline: none !important;
  border: none;
  border-bottom: 1px solid #dedede;
  background: transparent;
  width: 89%;
}

.paginationPages {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
}

.paginationPages button {
  margin-left: 10px;
  background: royalblue;
  width: 50px;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.bottomBtnsDiv {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  margin-bottom: 10px;
}

.bottomBtnsDiv button {
  background: blue;
  border-radius: 5px;
  padding: 5px;
  width: 200px;
  height: 50px;
  background-color: royalblue;
  color: white;
  font-size: 16px;
  border-radius: 10px;
  letter-spacing: 1.5px;
  font-weight: bold;
}

.bottomBtnsDiv button:hover {
  background-color: transparent;
  color: royalblue;
  border: 1px solid royalblue;
}

.addTodoDiv {
  justify-content: space-between;
}

.addTodoInput {
  border: none;
  border-bottom: 1px solid #dedede;
  width: 90%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 25px;
  letter-spacing: 1.5px;
}

.addTodoInput:focus {
  outline: none !important;
}
.addTodoInput::placeholder {
  font-size: 18px;
}
.createTodoSubmitButton {
  width: 140px;
  height: 45px;
  background-color: royalblue;
  color: white;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  letter-spacing: 1px;
  font-size: 18px;
  font-weight: 500;
  border: 1px solid royalblue;
  border-radius: 5px;
  margin-left: 2%;
  font-weight: bold;
}

.createTodoSubmitButton:hover {
  background-color: white;
  color: royalblue;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  letter-spacing: 1px;
  font-size: 18px;
  font-weight: 500;
  border: 1px solid royalblue;
  border-radius: 5px;
  margin-left: 2%;
}

h2 {
  margin-top: 50px;
}

.delete_all_checked {
  background: #dc413c !important;
}

.delete_all_checked:hover {
  color: #dc413c !important;
  border: 1px solid #dc413c !important;
  background-color: transparent !important;
}

.checkbox {
  width: 18px;
  height: 18px;
}

.item_with_checkbox {
  display: flex;
  align-items: center;
  width: 90%;
}

.todo_title {
  margin-left: 15px;
  letter-spacing: 1.5px;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: rgb(73, 79, 82);
  color: white;
}

.nav_ul {
  display: flex;
}

.nav_ul li {
  list-style: none;
  cursor: pointer;
  margin-left: 30px;
  color: white;
}

.login_bg_img {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

.login_outer,
.register_outer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.login_outer .form,
.register_outer .form {
  display: flex;
  width: 80vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  margin: 10px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.login_outer input,
.register_outer input {
  width: 55%;
  padding: 8px;
  margin: 10px;
  height: 32px;
  font-size: 1rem;
  border: none;
  outline: none;
  background-color: transparent;
  border-bottom: 1px solid #dedede;
  margin-top: 30px;
}

.login-btn,
.register-btn {
  font-size: 1.5rem;
  border: none;
  height: 54px;
  width: 55%;
  margin: 20px 10px;
  border-radius: 7px;
  background-color: #3a5fbb;
  color: #ffffff;
  box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 30%);
  cursor: pointer;
  font-family: "Times New Roman", Times, serif;
}

.my_profile {
  background: royalblue;
  font-size: 20px;
  border-radius: 5px;
  margin-right: 10px;
  font-weight: bold;
}

.my_profile:hover {
  color: royalblue;
  border: 1px solid royalblue;
  background-color: transparent;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.avatar_card {
  background: white;
  width: 50%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  /* box-shadow: 3px 3px rgb(80, 79, 79);
   */
  filter: drop-shadow(0 0 0.75rem rgb(10, 10, 10));
  padding-bottom: 100px;
}

.avatar_card input {
  width: 70%;
  border-radius: 30px;
  margin-top: 20px;
  height: 50px;
  text-align: center;
  font-size: 20px;
}

.avatar_card input:focus {
  outline: none;
}

.update_profile,
.change_password {
  background-color: royalblue;
  font-size: 22px;
  border-radius: 10px;
  margin-top: 30px;
  width: 70%;
}

.change_password {
  width: 100%;
}
