* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
}

.App {
  width: 70%;
  margin: auto;
}

a {
  color: #333;
  text-decoration: none;
}

.container {
  padding: 0 1rem;
}

.btn {
  display: inline-block;
  border: none;
  background: #555;
  color: #fff;
  padding: 7px 20px;
  cursor: pointer;
}

.btn:hover {
  background: #666;
}

.todoItem {
  background: #f4f4f4;
  border-bottom: 1px #ccc dotted;
  list-style-type: none;
  height: 70px;
  padding-top: 18px;
  padding-bottom: auto;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 22px;
}

.btnEdit {
  background: blue;
}

.btnDelete {
  background: #ff0000;
}

.editSubmit,
.editCancel,
.btnDelete,
.btnEdit {
  color: #fff;
  border: none;
  padding: 5px 9px;
  cursor: pointer;
  float: right;
  margin-left: 5px;
  width: 75px;
  height: 40px;
  border-radius: 5px;
  font-size: 15px;
}

.editSubmit {
  background: green;
}

.editCancel {
  background: #dc413c;
}

.editForm {
  align-items: center;
  display: flex;
}

.editForm input {
  font-size: 18px;
  height: 40px;
  outline: none !important;
  border: none;
  border-bottom: 1px solid black;
  background: transparent;
  width: 89%;
}

.paginationPages {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
}

.paginationPages button {
  margin-left: 10px;
  background: green;
  width: 50px;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.bottomBtnsDiv {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  margin-bottom: 10px;
}

.bottomBtnsDiv button {
  background: blue;
  border-radius: 5px;
  padding: 5px;
  color: black;
  width: 170px;
  height: 50px;
  background-color: white;
  font-size: 18px;
  border-radius: 10px;
  border: 1px solid black;
}

.bottomBtnsDiv button:hover {
  background-color: lightgrey;
}

.addTodoDiv {
  justify-content: space-between;
}

.addTodoInput {
  border: none;
  border-bottom: 1px solid #dedede;
  width: 90%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 25px;
  letter-spacing: 1.5px;
}

.addTodoInput:focus {
  outline: none !important;
}
.addTodoInput::placeholder {
  font-size: 18px;
}
.createTodoSubmitButton {
  /* width: 120px;
  height: 40px;
  background: green;
  font-size: 18px; */
  width: 140px;
  height: 45px;
  background-color: royalblue;
  color: white;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  letter-spacing: 1px;
  font-size: 18px;
  font-weight: 500;
  border: 1px solid royalblue;
  border-radius: 5px;
  margin-left: 2%;
}

.createTodoSubmitButton:hover {
  background-color: white;
  color: royalblue;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  letter-spacing: 1px;
  font-size: 18px;
  font-weight: 500;
  border: 1px solid royalblue;
  border-radius: 5px;
  margin-left: 2%;
}

h2 {
  margin-top: 50px;
}
