* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
}

.App {
  width: 70%;
  margin: auto;
}

a {
  color: #333;
  text-decoration: none;
}

.container {
  padding: 0 1rem;
}

.btn {
  display: inline-block;
  border: none;
  background: #555;
  color: #fff;
  padding: 7px 20px;
  cursor: pointer;
}

.btn:hover {
  background: #666;
}

.todoItem {
  background: #f4f4f4;
  padding: 10px;
  border-bottom: 1px #ccc dotted;
  list-style-type: none;
}

.btnEdit {
  background: blue;
}

.btnDelete {
  background: #ff0000;
}

.editSubmit,
.editCancel,
.btnDelete,
.btnEdit {
  color: #fff;
  border: none;
  padding: 5px 9px;
  cursor: pointer;
  float: right;
  margin-left: 5px;
}

.editSubmit {
  background: green;
}

.editCancel {
  background: grey;
}

.editForm {
  align-items: center;
  display: flex;
}

.paginationPages {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
}

.paginationPages button {
  margin-left: 10px;
  background: green;
  width: 50px;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.bottomBtnsDiv {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 10px;
}

.bottomBtnsDiv button {
  background: lightblue;
  border-radius: 5px;
  padding: 5px;
  color: black;
  width: 100px;
  height: 50px;
}

.bottomBtnsDiv button:hover {
  color: white;
  background: blue;
}
